img{
  width: 400px;
  margin-right: 10px;
  margin-top: 64px;
  margin-left: 70px;
}
header{
    font-family: "Space Mono", monospace;
    margin: 40px;
    font-size: 20px;
}
button{
    background-color: rgb(48, 43, 43);
    color: white;
    border: none;
    padding: 15px;
    font-size: x-small;
    
}
div{
    vertical-align: top;
    width: 49%;
    padding: 10px 10px 10px 10px ;
    margin-left: 4%;
    display: inline-block;
}
footer{
    color: rgb(170, 170, 151);
    text-align: center;
    margin-top: 90px;
}
h1{
    font-family: "Space Mono", monospace;
    margin-top: 50px;
    font-size: 50px;
}
h5{
    font-family: "Space Mono", monospace;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgb(177, 177, 161);
}
a{
    color: rgb(165, 165, 137);
}